*.tfstate*
*.hcl
.terraform
*.mp4
_postgres.code-workspace
_демо_база/demo-small.zip
*.mkv
25_final/fakerpress.0.6.6.zip
25_final/links.md
25_final/wordpress_change_ip_address.md
25_final/включение_чек_сумм.md
25_final/создание_реплики.md
25_final/установка_wp.md
25_final/python/grub_links.py
25_final/python/post_links.txt
