*.tfstate*
*.hcl
.terraform
*.mp4
_postgres.code-workspace
_демо_база/demo-small.zip
*.mkv
25_final/fakerpress.0.6.6.zip
25_final/links.md
25_final/wordpress_change_ip_address.md
25_final/включение_чек_сумм.md
25_final/создание_реплики.md
25_final/установка_wp.md
25_final/python/grub_links.py
25_final/python/post_links.txt
25_final/jmeter/_hl-final-make-comments.jmx
25_final/jmeter/comments.csv
25_final/jmeter/emails.csv
25_final/jmeter/links_from_file.jmx
25_final/jmeter/links.csv
25_final/jmeter/names.csv
25_final/jmeter/настройка.md
25_final/screenshots/pg1_cpu.png
25_final/screenshots/pg1_mem.png
25_final/screenshots/pgw_overview.png
25_final/screenshots/wp_cpu.png
25_final/screenshots/wp_mem.png
установка_zabbix.md
